header {
    background-image: url(../img/mecca.jpg);
    background-size: cover;
    background-position: center;
    min-height: 1000px;
}
#logo {
    font-family: "lato";
}
#menu-items {
    font-weight: 600;
}
#people {
    padding-right: 10px;
}
#people2 {
    padding-left: 10px;
}
.tabs .indicator {
    background-color: grey;
}
.tabs .tab a:focus, .tabs .tab a:focus.active {
    background: transparent;
}
#donation-box {
    padding-top: 7rem;
}